@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projet ASP .NET Core</h1>
    <p>Il s'agit d'un simple projet CRUD qui permet la gestion des ressources humaines d'une entreprise' </p>
</div>
