@model Asp.netCoreMvcCrud.Models.Conge

@{
    ViewData["Title"] = "Create";
}

<h4>Formulaire Congé</h4>
<hr />
<div class="col-md-6">

    <form asp-action="AddorEdit">



        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CongeId" />


        <div class="form-group">
            <label asp-for="Employee" class="control-label"></label>
            <select asp-for="Employee"
                    class="form-control"
                    onchange="onFormSelected(this.value)"
                    asp-items="@(ViewBag.Options)">
            </select>


            <span asp-validation-for="Employee" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group input-field ">
                <label asp-for="dateDebut" class="control-label"></label>
                <input asp-for="dateDebut" class="form-control" />
                <span asp-validation-for="dateDebut" class="text-danger"></span>
            </div>


            <div class="form-group col-md-6">
                <label asp-for="dateFin" class="control-label"></label>
                <input asp-for="dateFin" class="form-control" />
                <span asp-validation-for="dateFin" class="text-danger"></span>
            </div>



        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="submit" value="Ajouter" class="btn btn-secondary btn-block" />
            </div>

        </div>
    </form>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
